# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# MLflow
*.db
mlruns/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Data (if large / local only)

# Data (IMPORTANT for ML projects)
data/
data/raw/
data/processed/

# Models / artifacts
models
artifacts/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db
